.masonryGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 2rem;
}

@media (min-width: 768px) {
    .masonryGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .masonryGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.masonryItem {
    display: flex;
    height: 100%;
}

.masonryItem:nth-child(3n+1) {
    grid-row: span 1;
}

.masonryItem:nth-child(3n+2) {
    grid-row: span 1.1;
}

.masonryItem:nth-child(3n) {
    grid-row: span 0.9;
} 